{
    "extends": [
        "airbnb"
    ],
    "parser": "babel-eslint",
    "plugins": [
        "only-warn"
    ],
    "rules": {
        "react-hooks/exhaustive-deps": 0,
        "no-return-await": 0,
        "dot-notation": 0,
        "consistent-return": 0,
        "object-curly-newline": 0,
        "import/no-mutable-exports": 0,
        "no-magic-numbers": ["warn", { "ignore": [-3, -2, -1, 0, 1, 2, 10, 24, 60, 100, 200, 300, 365, 400, 404, 1000, 1024] }],
        "semi": 0,
        "react/jsx-wrap-multilines": 0,
        "operator-linebreak": 0,
        "arrow-parens" : ["error", "as-needed"],
        "react/jsx-filename-extension": [0],
        "import/extensions": 0,
        "react/no-array-index-key": 0,
        "linebreak-style": 0,
        "jsx-a11y/no-noninteractive-element-interactions": 0,
        "no-new": 0,
        "no-nested-ternary": 0,
        "import/prefer-default-export": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/label-has-for": 0,
        "jsx-a11y/label-has-associated-control": 0,
        "react/jsx-one-expression-per-line": 0,
        "no-param-reassign": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "jsx-a11y/href-no-hash": 0,
        "no-return-assign": 0,
        "react/require-default-props": 0,
        "import/no-extraneous-dependencies": 0,
        "no-restricted-syntax": ["warn", "LabeledStatement", "WithStatement"],
        "react/button-has-type": 0,
        "no-console": 0,
        "no-plusplus": 0,
        "no-constant-condition": ["warn", { "checkLoops": false }],
        "no-underscore-dangle": 0,
        "no-bitwise": 0,
        "global-require": 0,
        "guard-for-in": 0,
        "class-methods-use-this": 0,
        "max-len": [1, 120, 4, { "ignoreStrings": true, "ignoreRegExpLiterals": true }],
        "react/forbid-prop-types": 0,
        "jsx-a11y/anchor-is-valid": 0,
        "import/named": 0,
        "jsx-a11y/anchor-has-content": 0,
        "react/no-unused-state": 0,
        "no-useless-escape": 0,
        "no-useless-concat": 0,
        "import/no-named-as-default": 0,
        "import/no-named-as-default-member": 0,
        "no-unused-expressions": ["warn", { "allowShortCircuit": true }],
        "prefer-destructuring": ["warn", {"array": false}],
        "no-continue": 0,
        "prefer-const": 0,
        "react/no-unused-prop-types": 0,
        "jsx-a11y/no-noninteractive-tabindex": 0,
        "jsx-a11y/tabindex-no-positive": 0,
        "id-length": ["warn", { "min": 2 }],
        "no-loop-func": 0,
        "no-use-before-define": ["warn", { "functions": false }],
        "no-multi-spaces": ["warn", { "exceptions": { "VariableDeclarator": true } }],
        "no-lonely-if": 0
    },
    "globals": {
        "fetch": false,
        "document": true,
        "jest": true,
        "test": true,
        "expect": true,
        "describe": true,
        "window": true,
        "webpack": true,
        "XMLHttpRequest": true,
        "require": true,
        "Element": true,
        "navigator": true,
        "it": true
    }   
}